{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<body>
    <h2> Autor </h2>
    -Franco Solano
    <br>
    -Data Analyst @ Pedidosya
    <br>
    -Economista
    <br>
    -26 Años
    <br>
    -Uruguay
    <a href="https://www.linkedin.com/in/francosolano/"></a>
    
    <h2> Proyecto </h2>
    <p> El proyecto consiste en una web para que los 
        empleados puedan ingresar sus ventas y ver cuanto vendieron

    </p>

</body>
</html>
{% endblock %}